# OS X
.DS_Store*
Icon?

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.gz


# vim
*.swp
*.swo

# idea
.idea

# log
*.log
*.log.*
*.out

# hexo
public/
db.json
.deploy*/
